.background {
  height: 100vh;
  width:100vw;
  overflow: hidden;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  background: linear-gradient(165deg, #171717 60%, #d581dc 35%) center;



}









