.background {
  background-image: url('./bg.webp');
  /*background-color: #426996;*/
  backdrop-filter: blur(50px);
  /*background: linear-gradient(179deg, #1BFF4D -21.96%, #005C9F 96.81%);*/
  height: 100vh;
  width:100vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

}
